@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,600&display=swap');

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
}

/* utlility classes */
.container {
    max-width: 1200px;
    width: 90%;
    margin: auto;

}

.outercontainer {
    max-width: 1500px;
    margin: auto;
    min-width: 600px;
}

.menu-items,
a,
a:active {
    text-decoration: none;
    color: #444;
    font-weight: 500;
    margin: 0 1rem;

}

.btn {
    /* border:1px solid black; */
    border-radius: 50px;
    display: inline-block;
    padding: 1rem 2.5rem;
    cursor: pointer;
    outline: none;
    margin-top: 1rem;
    font-weight: 500;
    background-color: #16a083;

}

.menubtn {
    color: #fff;

}

/* ========================== */
/* navbar */
/* ========================== */
.menu-items a:hover {
    color: #117964;
    transition: all 0.3s;
}

.navbar {
    max-width: 100%;

    box-shadow: 0px 5px 10px 0px #aaa;
    background-color: #ffffff9e;
    position: fixed;
    left: 0;
    width: 100%;
    z-index: 5;
    opacity: 0.8px;
    color: #000;
}

.navbar-container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    height: 64px;
    /* background: gray; */

}

.menu-items a {
    font-size: 1.5rem;
}

.log {
    order: 1;
    font-size: 3rem;
}

.hamburger {
    position: relative;
    display: none;
}



.hamburger i {
    font-size: 2rem;
    /* z-index: 999; */


}

.outerdivmenu {
    /* width: 100%;
    height: 100%; */
    display: flex;
    justify-content: end;
    align-items: center;
}

/* ==================== */
/* first section */
/* ====================== */

.firstsection {
    height: 50vh;
    background: linear-gradient(rgba(240, 240, 240, 0.144), rgba(255, 255, 255, 0.7)), url("/public/pexels-ella-olsson-1640777.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.innerfirstsection {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.6rem;
    text-transform: capitalize;
}

/* ============================== */
/* About */
/* ============================== */
.about {
    padding: 50px 0;
    background-color: #f5f5f7;
}

.about h2 {
    font-size: 3.2rem;
}

.about p {
    font-size: 1.6rem;
    color: #555;
}

.about small {
    font-size: 1.6rem;
    color: #666;
    font-weight: 600;
}

.about-wraper {
    display: flex;
    gap: 10px;
}

.about-text {
    flex-basis: 400px;
    flex-grow: 1;
    flex-shrink: 1;
    margin: auto;
    transform: translateX(-150%);
    animation: about-text-animation 1s ease-in-out forwards;

}

.about-img {
    flex-basis: 400px;
    flex-grow: 1;
    flex-shrink: 1;
    transform: translateX(150%);
    animation: about-img-animation 1s ease-in-out forwards;

}

.about-img img {
    max-width: 100%;
    object-fit: cover;
    object-position: center;
    display: block;
    height: 400px;
}

/* ==================================== */
/* food types */
/* =================================== */

.section-food-menu {
    margin-top: 8rem;
}

.food-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 2rem;
    height: 300px;


}

.food-type {
    flex-basis: 160px;
    flex-grow: 1;
    flex-shrink: 0;
}

.image-container {
    height: 100%;
    width: 100%;
    position: relative;
}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    object-fit: cover;
    display: block;
    z-index: -1;
}

.food-types {

    /* position: relative; */
    height: 300px;
    margin-top: 4rem;
    margin-bottom: 4rem;


}

.food-types h2 {
    text-align: center;
    margin-bottom: 1rem;
    font-size: 3rem;
    font-weight: 500;
}


.image-content {
    position: absolute;
    z-index: 1;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: all .3s ease-in-out;
}

.image-content::after {
    content: "";
    width: 100%;
    z-index: 2;
    height: 100%;
    position: absolute;
    top: 0;
    top: 0;
    background-color: #000;

    opacity: .7;
    transform: scaleY(0);
    transition: all .3s ease-in-out;
    transform-origin: bottom;
}

.image-content:hover::after {
    transform: scaleY(1);
    cursor: pointer;

}

.image-content:hover {
    opacity: 1;
}

.image-content h3,
.image-content a {
    color: white;
    z-index: 3;
}

.image-content h3 {
    font-size: 3rem;
}

.image-content a {
    font-size: 1.2rem;
}




/* ======================================= */
/* food-menu-list-sections */
.food-menu-list {
    margin-top: 2rem;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: row;
    gap: 10px;
    flex-wrap: wrap;


}
.section-food-menu h2{
    text-align: center;
    font-size: 4rem;
    font-weight: 400;
}

.food-menu-list-content {

    margin-bottom: 1px;
    flex-basis: 580px;
    flex-grow: 1;
    flex-shrink: 1;

    display: flex;
    gap: 2rem;

}

.menu-list-content {
    margin: auto auto;
}

.food-menu-list-content .images img {
    /* width: 100%; */
    border-radius: 50%;
    width: 200px;
    height: 200px;
}

.menu-list-content h2 {
    font-size: 2.2rem;
    font-weight: 400;
    color: #444;
}

.menu-list-content p {
    font-size: 1.4rem;
    font-weight: 500;
    color: #555;

}

.menu-list-content .food-price {
    color: #117964;
    font-weight: 700;

}

/* ================================= */
/* testimonial */
/* ================================ */

.testimonial {
    margin-top: 8rem;
    margin-bottom: 8rem;
}

.testimonialcontainer {
    background-color: #f5f5f7;

}


.testimonialcontainer .title {

    text-align: center;
    margin-bottom: 2rem;
    font-size: 3rem;
    font-weight: 400;
    color: #555;
}

.customer-reviews {
    display: flex;
    gap: 2rem;
    /* justify-content: space-between; */
}

.reviews {
    flex-basis: 400px;
    flex-wrap: 1;
    flex-shrink: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.stars-ratings span {
    color: orange;
}


.comments-from-customers {
    text-align: center;
    font-size: 1.2rem;
    height: 100px;

}

.reviews .customer-img {
    width: 10rem;
    height: 10rem;


}

.customer-img img {
    /* background-image: url("/public/WhatsApp\ Image\ 2024-01-02\ at\ 9.45.59\ PM.jpeg"); */
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: block;
    object-fit: cover;
    object-position: center;

}

/* ====================================== */
/* contact-us */
/* ====================================== */
.contact-us-outer-container {
    display: flex;
    height: 36rem;
    box-sizing: border-box;
    margin-bottom: 3rem;


}

.contact-us-images img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    object-position: center;

}

.contact-us-form,
.contact-us-images {
    flex-basis: 60rem;
    flex-grow: 1;
}

.contact-us-form h2 {
    font-weight: 700;
    font-size: 3rem;
    color: #555;
}

.contact-us-form {
    overflow: hidden;
    padding: 0 1rem;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.contact-us-form label {
    font-size: 1.6rem;

}

.contact-us-form textarea {
    display: block;
    width: 100%;
    border-left: none;
    border-right: none;
    height: 150px;
    resize: horizontal;
    max-width: 100%
}

input[type=text],
input[type=email] {
    margin: .8rem 0;
    border: none;
    width: 100%;
    border-bottom: 1px solid black;

}

input[type=email] {
    border-bottom: none
}

input[type=text]:focus,
input[type=email]:focus {
    outline: none;
}

input[type=submit] {
    border: none;
}
/* ======================= */
/* footer */
/* ======================= */
.footer h2{
    margin: 0;
text-align: center;
font-size: 2rem;
padding: 3rem;
font-weight: 500;
color: #fff;
background-color: rgb(65, 65, 65);
}

/* =================== */
/* media quary */
/* ==================== */


@media screen and (max-width:700px) {

    .reviews {
        justify-content: center;
        align-items: center;
        flex-basis: 0;
        margin-top: 2rem;
    }

    .comments-from-customers {

        height: auto;

    }

    .customer-reviews {
        flex-direction: column;
        gap: 2rem;
    }

    .testimonialcontainer .title {
        margin: 0;
    }

    .testimonialcontainer .title {
        font-size: 2rem;
    }

    .comments-from-customers {
        font-size: 1.2rem;
    }

}

@media screen and (max-width:300px) {
    .food-container {
        flex-direction: column;
    }

    .image-container img {

        max-height: 300px;
    }

}

@media screen and (max-width:650px) {

    .hamburger {
        display: block;

    }

    .outerdivmenu {
        display: none;
    }

    .outerdivmenuMobileResponsive {
        display: block !important;
    }

    .navbar-container {
        flex-direction: row-reverse;
    }

    .menu-items,
    a {
        margin: 0;
    }

    .outerdivmenu {
        position: absolute;
        width: 100%;
        left: 0;
        top: 0;
        height: 100vh;
        cursor: pointer;
        /* background: red; */
    }

    .menu-items {
        position: absolute;
        display: flex;
        flex-direction: column;
        left: 0;
        top: 0;
        background: #fff;
        opacity: .9;
        height: 100vh;
        width: 50%;
        justify-content: space-around;
        align-items: center;
    }

    .outerdivmenu::after {
        content: "x";
        width: 200px;
        height: 200px;
        /* background: red; */
        position: absolute;
        top: 0;
        left: 51%;
        font-size: 4rem;
        font-weight: 500;
    }



}

/* ====================== */
/* animation */
/* ====================== */
@keyframes about-text-animation {
    100% {
        transform: translateX(0);
    }
}

@keyframes about-img-animation {
    100% {
        transform: translateX(0);
    }
}